.btn {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  /* display: inline-block; */
  font-size: 1.3em;
  color: #fff;
  line-height: 2;
  padding: .2em 1em;
  width: 50px;
  height: 30px;
  font-weight: bold;
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

.ejemplo1 {
  background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
  transition: all .3s;
}

.ejemplo1:hover {
  background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
  transition: all .3s;
}
